<html>
  <head>
    <title>Deno Weekly: <%= title %></title>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="<%= description %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="<%= type %>" />
    <!-- FIXME! -->
    <meta property="og:image" content="https://raw.githubusercontent.com/uki00a/blog/master/src/assets/avatar.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@uki00a" />
    <meta name="twitter:creator" content="@uki00a" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css"></link>
    <!-- FIXME! -->
    <link rel="icon" href="https://raw.githubusercontent.com/uki00a/blog/master/src/assets/favicon.ico"></link>
  </head>
  <body>
    <header>
      <h2><a href="<%= top %>">Deno Weekly</a></h2>
    </header>
    <main>
      <%- contents %>
    </main>
    <hr />
    <footer style="text-align: right">
      <a href="<%= top %>">Home</a>
      <a href="https://github.com/uki00a/deno-weekly">Source</a>
    </footer>
  </body>
</html>
