name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: denolib/setup-deno@master
      with:
        deno-version: 1.10.2
    - name: Run fmt
      run: |
        deno fmt --check --ignore=articles
    - name: Run lint
      run: |
        deno lint --unstable --ignore=articles
    - name: Build
      env:
        URL: https://uki00a.github.io/deno-weekly
        TRACKING_ID: G-MK2K2MRMBF
      run: |
        deno run --unstable --allow-read --allow-write --allow-net --allow-run --allow-env https://deno.land/x/pagic@v1.3.1/mod.ts build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.event_name == 'push' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
